body {
    font-family: 'Inter', sans-serif;
    background: #f8f9fa;
}

.navbar {
    padding: 14px 0;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo-text {
    font-weight: 800;
    font-size: 22px;
    color: #111;
}

.nav-link {
    font-weight: 500;
    font-size: 15px;
    color: #333 !important;
    margin: 0 14px;
}

.nav-link:hover {
    color: #000 !important;
}

.dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
}

.btn-login {
    border: 2px solid #222;
    border-radius: 14px;
    padding: 7px 20px;
    font-weight: 600;
    background: #fff;
    box-shadow: 3px 3px 0 #222;
}

.btn-login:hover {
    background: #f3f3f3;
}

.btn-create {
    background: #ff6a2c;
    color: #fff;
    border-radius: 14px;
    padding: 9px 22px;
    font-weight: 600;
    border: 2px solid #222;
    box-shadow: 3px 3px 0 #222;
}

.btn-create:hover {
    background: #e85d21;
    color: #fff;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas-start {
    width: 280px;
}

.offcanvas .nav-link {
    margin: 8px 0;
}


@media (max-width:991px) {

    .btn-login,
    .btn-create {
        width: 100%;
        margin-bottom: 10px;
    }
}

.hero {
    background: #cfe3df;
    padding: 100px 0;
    overflow: hidden;
}

.hero h1 {
    font-size: 86px;
    font-weight: 900;
    line-height: 1.1;
    color: #1f1f1f;
}

.highlight {
    font-family: 'Permanent Marker', cursive;
    color: #1f9f8e;
    font-size: 86px;
    font-weight: 700;
}

.hero p {
    font-size: 19px;
    color: #5f6f6d;
    margin-top: 20px;
    max-width: 520px;
}

.btn-hero {
    background: #ff6a2c;
    border: 2px solid #1f1f1f;
    border-radius: 16px;
    padding: 18px 40px;
    font-weight: 700;
    color: #fff;
    box-shadow: 5px 5px 0 #1f1f1f;
    transition: 0.3s;
}

.btn-hero:hover {
    transform: translateY(-3px);
}

.stars {
    color: #f5b301;
    font-size: 24px;
    margin-bottom: 5px;
}

.rating {
    font-weight: 600;
    font-size: 16px;
}

.hero-right {
    position: relative;
    text-align: right;
}

.postcard {
    height: 680px;
    width: 680px;
    position: relative;
    z-index: 1;
}

.overlay-card {
    position: absolute;
    top: 50px;
    left: 8px;
    height: 680px;
    width: 680px;
    z-index: 2;
}

@media (max-width: 991px) {

    .hero {
        text-align: center;
        padding: 90px 0;
    }

    .hero h1 {
        font-size: 42px;
    }

    .highlight {
        font-size: 52px;
    }

    .hero p {
        margin: 20px auto 0;
    }

    .hero-right {
        margin-top: 60px;
        text-align: center;
    }

    .postcard {
        height: 420px;
        width: 420px;
    }

    .overlay-card {
        height: 420px;
        width: 420px;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 576px) {

    .hero h1 {
        font-size: 34px;
    }

    .highlight {
        font-size: 40px;
    }

    .btn-hero {
        width: 100%;
        max-width: 300px;
    }

    .stars {
        font-size: 20px;
    }

    .postcard {
        height: 300px;
        width: 300px;
    }

    .overlay-card {
        height: 300px;
        width: 300px;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.trusted {
    background: #f4f4f4;
    padding: 110px 0;
}

.trusted h2 {
    font-weight: 800;
    font-size: 63px;
    text-align: center;
    margin-bottom: 80px;
}

.highlight {
    font-family: 'Permanent Marker', cursive;
    color: #1f9f8e;
}

.brand-card {
    text-align: center;
}

.brand-card img:first-child {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
}

.logo-img {

    margin-top: 30px;
    max-width: 184.53125px;
}

.logo-img-2 {

    margin-top: 30px;
    max-width: 235.03125px;
}

.logo-img-3 {

    margin-top: 30px;
    max-width: 166px;
}

.logo-img-4 {

    margin-top: 30px;
    max-width: 60.5px;
}

.desktop-grid {
    display: none;
}
@media(max-width:425px) {
    .trusted {
        background: #f4f4f4;
        padding: 20px ;
    }
    .trusted h2 {
        font-weight: 800;
        font-size: 34px;
        text-align: center;
        margin-bottom: 60px;
    }
}
 

@media(min-width:992px) {
    .desktop-grid {
        display: flex;
    }

    .mobile-carousel {
        display: none;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
    padding: 15px;
}

.why-section {
    background: #F3FAFA;
    padding: 120px 0;
}

.why-section h2 {
    font-size: 63px !important;
    font-weight: 800;
}

.highlight {
    font-family: 'Permanent Marker', cursive;
    color: #159a88;
}

.stat-number {
    font-size: 63px !important;
    font-weight: 800;
}

.stat-text {
    color: #555;
    max-width: 220px;
    margin: auto;
}

.phone-img {
    max-width: 280px;
    width: 100%;
}

.read-text {
    font-size: 14px;
    color: #555;
    margin-top: 20px;
}

@media(max-width:425px) {
    .why-section h2 {
        font-size: 34px
        !important;
        font-weight: 800;
    }
    .stat-text {
        font-size: 11px;
     }
    .stat-number {
        font-size: 34px !important;
        font-weight: 800;
    }
    
}
@media(max-width:991px) {
    .why-section {
        padding: 80px 0;
        text-align: center;
    }

    .why-section h2 {
        font-size: 36px;
    }

    .stat-number {
        font-size: 42px;
    }

    .phone-img {
        margin: 40px 0;
    }
}


.section-bg {
    background: #FDF3EA;
    padding: 50px 0;
}

.main-title {
    font-size: 63px !important;
    font-weight: 800;
    line-height: 1.15;
    text-align: center;
    max-width: 900px;
    margin: 0 auto 120px;
}

.highlight {
    font-family: 'Permanent Marker', cursive;
    color: #159a88;
}

.block-title {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.15;
}

.block-text {
    color: #555;
    margin-top: 20px;
    max-width: 480px;
}

.quote-box {
    background: #f3ebe2;
    padding: 28px;
    border-radius: 16px;
    border: 1px solid #d5c8bb;
    position: relative;
    margin-top: 30px;
}

.quote-mark {
    font-size: 42px;
    color: #ff6a2c;
    position: absolute;
    top: 10px;
    left: 20px;
}

.quote-text {
    margin-top: 25px;
    color: #444;
    line-height: 1.6;
}

.quote-author {
    margin-top: 15px;
    font-size: 14px;
    color: #777;
}

.quote-logo {
    position: absolute;
    bottom: 18px;
    right: 20px;
    max-width: 90px;
}

.btn-orange {
    background: #ff6a2c;
    color: #fff;
    border-radius: 14px;
    padding: 9px 22px;
    font-weight: 600;
    border: 2px solid #222;
    box-shadow: 3px 3px 0 #222;
}

.btn-orange:hover {
    background: #e85d21;
    color: #fff;
}

.zig-block {
    margin-bottom: 140px;
}
 
@media(max-width:425px) {
    .main-title {
        font-size: 34px !important;
         
    }
    
}
@media(max-width:991px) {

    .main-title {
        font-size: 36px;
        margin-bottom: 80px;
    }

    .block-title {
        font-size: 32px;
        text-align: center;
    }

    .block-text {
        margin: auto;
        text-align: center;
    }

    .zig-block {
        margin-bottom: 100px;
        text-align: center;
    }

    .quote-box {
        max-width: 100%;
    }
}

.everything-section {
    background: #f3f3f3;
    padding: 10px 0;
}

.section-title {
    font-size: 64px !important;
    font-weight: 700;
    text-align: center;
    line-height: 1.15;
}

.highlight {
    font-family: 'Permanent Marker', cursive;
    color: #159a88;
}

.feature-card {
    border-radius: 20px;
    padding: 40px 30px;
    text-align: center;
    height: 100%;
}

.feature-card img {
    max-width: 100%;
    margin-bottom: 25px;
}

.feature-card h5 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
}

.feature-card p {
    font-size: 16px;
    color: #555;
}

.bg-1 {
    background: #e8dfd3;
}

.bg-2 {
    background: #d9ece9;
}

.bg-3 {
    background: #e2e0f1;
}

.bg-4 {
    background: #d7ebef;
}

.bg-5 {
    background: #eadede;
}

.bg-6 {
    background: #e6e6e6;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
    padding: 15px;
}
@media(max-width:425px) {
    .section-title {
        font-size: 34px !important;
        
    }
    
}


@media(min-width:992px) {
    .mobile-carousel {
        display: none;
    }
}

@media(max-width:991px) {
    .desktop-grid {
        display: none;
    }

    .section-title {
        font-size: 36px;
    }
}

.fast-section {
    background: #d7eceb;
    padding: 50px 0;
}

.section-title {
    font-size: 48px;
    font-weight: 800;
}

.highlight {
    font-family: 'Permanent Marker', cursive;
    color: #0f8f83;
}

 
.custom-accordion .accordion-item {
    border: none;
    background: transparent;
}

.custom-accordion .accordion-button {
    background: transparent;
    box-shadow: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

.custom-accordion .accordion-button::after {
    display: none;
}

.step-number {
    font-family: 'Covered By Your Grace', cursive;
    color: #0f8f83;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 4px;
    width: 60px;
}

.step-text {
    font-size: 22px;
    font-weight: 600;
    color: #8aa3a3;
}

.active-step .step-text,
.accordion-button:not(.collapsed) .step-text {
    color: #111;
}

.step-description {
    font-size: 14px;
    color: #555;
    max-width: 380px;
    padding-left: 90px;
}

@media(max-width:768px) {

    .section-title {
        font-size: 34px;
    }

    .step-number {
        font-size: 34px;
    }

    .step-text {
        font-size: 18px;
    }

    .step-description {
        padding-left: 70px;
    }
}
.highlightDTC {
    font-family: 'Permanent Marker', cursive;
    color: #118a7e;
}

.container-custom {
    max-width: 1200px;
    margin: auto;
    padding: 0 1px;
}

.cards-wrapper {
    overflow: hidden;
}

.cards-track .owl-stage-outer {
    overflow: visible;
}

.cards-track .owl-item {
    display: flex;
    justify-content: center;
}
.test{
    font-size: 63px !important;
    font-weight: 700     !important;
    line-height: 76px;
    letter-spacing: -2px;
}
.testimonial-card {
    width: 410px;
    height: 238px;
    border: 2px solid #222;
    border-radius: 15px;
    background: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.rounded-circle {
    width: 48px !important;
    height: 48px !important;
    object-fit: cover;
}

.cta-btn {
    background: #ff6a2c;
    border: 2px solid #222;
    border-radius: 18px;
    padding: 18px 60px;
    font-weight: 700;
    color: #fff;
    box-shadow: 6px 6px 0 #222;
}
.btn-test{
    background: #ff6a2c;
    border: 2px solid #1f1f1f;
    border-radius: 16px;
    padding: 22px 66.05px 20px 65px;
    font-weight: 700;
    color: #fff;
    box-shadow: 5px 5px 0 #1f1f1f;
    transition: 0.3s;}



    @media(max-width:425px) {
        .test{
            font-size: 34px !important;
             
        }
        
    }
@media (max-width: 1200px) {
    .testimonial-card {
        width: 380px;
    }
}
@media (max-width: 992px) {
    .testimonial-card {
        width: 340px;
        height: auto;
    }
}
@media (max-width: 768px) {
    .testimonial-card {
        width: 300px;
    }
}
@media (max-width: 576px) {
    .testimonial-card {
        width: 260px;
    }
}
.Drives-btn {
    border: 2px solid #222;
    border-radius: 20px;
    padding: 16px 55px;
    font-weight: 700;
    box-shadow: 6px 6px 0 #222;
}
.hero-orange {
    background: #ff6a2c;
    color: #fff;
    overflow: hidden;
}
.hero-title {
    font-size: 81px;
    font-weight: 700;
    line-height: 96px;
}
.hero-img-wrapper {
    position: relative;
}
.hero-img {
    width: 600px;
    height: 600px;
    max-width: 100%;
}
.cta-btn {
    background: #e9e9e9;
    border: 2px solid #222;
    border-radius: 16px;
    padding: 14px 36px;
    font-weight: 700;
    box-shadow: 5px 5px 0 #222;
    color: #000;
}
.cta-btn:hover {
    background: #fff;
}
.rating-stars {
    color: white;
}
@media (max-width: 992px) {

    .hero-orange {
        text-align: center;
        padding: 80px 0;
    }

    .hero-title {
        font-size: 52px;
        line-height: 1.2;
    }

    .hero-img {
        width: 420px;
        height: 420px;
        transform: rotate(-10deg);
        margin-top: 40px;
    }
}

@media (max-width: 576px) {

    .hero-title {
        font-size: 36px;
        line-height: 1.2;
    }

    .hero-img {
        width: 300px;
        height: 300px;
    }

    .cta-btn {
        width: 100%;
        max-width: 280px;
    }
}
.section-light {
    background: #e9f1f0;
    padding: 50px 0;
}

.highlightli {
    font-family: 'Permanent Marker', cursive;
    color: #118a7e;
    font-weight: 700;
    font-style: Bold;
    font-size: 68px;
    line-height: 76px;
    letter-spacing: -2px;

}
.light{
    font-weight: 700; font-style: Bold; font-size: 68px; line-height: 76px; letter-spacing: -2px;

}
.light-text{
    font-weight: 700; font-size: 26px; line-height: 36px;letter-spacing: 0%;
}

.blog-img {
    width: 410px;
    height: 272px;
    border-radius: 15px;
    object-fit: cover;
}

.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-card h5 {
    font-weight: 700;
    line-height: 1.3;
    margin-top: 20px;
    max-width: 410px;
}
@media(max-width:425px) {
    .highlightli {
        font-size: 34px !important;
    
    
    }
    .light-text{
        font-size: 20px; 
    }
    .light{
           font-size: 34px !important;
    }
         
    }
@media(max-width:1200px) {
    .blog-img {
        width: 100%;
        height: auto;
    }

    .blog-card h5 {
        max-width: 100%;
    }
}

@media(max-width:992px) {
    .section-light {
        padding: 70px 0;
        font-weight: 700;
        font-style: Bold;
        font-size: 63px;
        line-height: 76px;
        letter-spacing: -2px;

    }
}

 

.footer-section {
    background: #f3f3f3;
    padding: 80px 0 40px;
}

.footer-title {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #666;
    margin-bottom: 20px;
}
.footer-dec{
    font-size: 14px;
}
.footer-link {
    display: block;
    text-decoration: none;
    color: #222;
    margin-bottom: 12px;
    font-weight: 500;
}

.footer-link:hover {
    color: #ff6a2c;
}

.eco-badge {
    border: 3px solid #2e8b57;
    color: #2e8b57;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    margin-top: 60px;
    padding-top: 30px;
}

.btn-outline-dark {
    border: 2px solid #222;
    border-radius: 12px;
    padding: 8px 20px;
    font-weight: 600;
}

.btn-orange {
    background: #ff6a2c;
    border: 2px solid #222;
    border-radius: 12px;
    padding: 8px 22px;
    font-weight: 600;
    color: #fff;
    box-shadow: 4px 4px 0 #222;
}

.btn-orange:hover {
    background: #e85d21;
    color: #fff;
}

@media(max-width:425px) {
.footer-dec{
    font-size: 14px !important;
}
}
@media(max-width:992px) {
    .footer-section {
        text-align: center;
    }
}

.footer-login {
    background: #ff6a2c;
    border: 2px solid #1f1f1f;
    height: px;
    border-radius: 16px;
    box-shadow: 5px 5px 0 #1f1f1f;
    transition: 0.3s;
    margin-top: 50px;

}
.drive {
    background-color: #EEECFF;
}

.drive-img {
    max-width: 520px;
    width: 100%;
}

.drive-heading {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.15;
    color: #222;
}

.highlight {
    color: #1aa39a;
    font-weight: 500;
}

.drive-text {
    font-size: 18px;
    color: #666;
}

.stat-number {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 5px;
}

.stat-label {
    font-size: 14px;
    color: #777;
    margin: 0;
}

.Drives-btn {
    background: #f5f5f5;
    border: 2px solid black;
    border-radius: 14px;
    padding: 14px 28px;
    font-weight: 600;
    box-shadow: 5px 5px 0px black;
}



.brand-tabs {
    border-bottom: 2px solid #ddd;
}

.brand-tabs .nav-link {
    border: none;
    background: transparent;
    padding-bottom: 12px;
}

.logo-img {
    max-height: 25px;
    object-fit: contain;
    opacity: 0.4;
    transition: 0.3s;
}


.brand-tabs .nav-link.active .logo-img {
    opacity: 1;
}

.brand-tabs .nav-link.active {
    border-bottom: 3px solid #1aa39a;
}



@media (max-width: 992px) {

    .drive-heading {
        font-size: 38px;
        text-align: center;
    }

    .drive-text {
        text-align: center;
    }

    .stats-row {
        text-align: center;
    }
}

@media (max-width: 576px) {

    .drive-heading {
        font-size: 28px;
    }

    .stat-number {
        font-size: 22px;
    }

    .stat-label {
        font-size: 12px;
    }
}