.fast-section {
    background: #d7eceb;
    padding: 50px 0;
}

.section-title {
    font-size: 48px;
    font-weight: 800;
}

.highlight {
    font-family: 'Permanent Marker', cursive;
    color: #0f8f83;
}

 
.custom-accordion .accordion-item {
    border: none;
    background: transparent;
}

.custom-accordion .accordion-button {
    background: transparent;
    box-shadow: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

.custom-accordion .accordion-button::after {
    display: none;
}

.step-number {
    color: #0f8f83;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 4px;
    width: 60px;
}

.step-text {
    font-size: 22px;
    font-weight: 600;
    color: #8aa3a3;
}

.active-step .step-text,
.accordion-button:not(.collapsed) .step-text {
    color: #111;
}

.step-description {
    font-size: 14px;
    color: #555;
    max-width: 380px;
    padding-left: 90px;
}

@media(max-width:768px) {

    .section-title {
        font-size: 34px;
    }

    .step-number {
        font-size: 34px;
    }

    .step-text {
        font-size: 18px;
    }

    .step-description {
        padding-left: 70px;
    }
}